<section class="gallery-sec">
  <div class="gallery-container container">
    <picture>
      <source
        srcset="./img-optimized/newborn/1-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/1-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/1-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/2-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/2-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/2-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/3-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/3-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/3-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/4-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/4-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/4-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/5-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/5-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/5-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/newborn/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/6-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/6-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/7-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/7-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/7-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/8-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/newborn/8-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/8-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/9-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/9-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/9-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/10-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/10-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/10-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/newborn/11-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/11-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/11-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/12-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/12-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/12-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/13-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/13-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/13-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/14-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/14-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/14-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/15-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/15-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/15-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/newborn/16-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/16-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/16-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/17-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/17-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/17-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/18-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/18-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/18-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/newborn/19-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/newborn/19-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/newborn/19-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
  </div>
  <p style="text-align: center; padding: 30px 10px 0 10px; max-width: 900px">
    The photos are published in accordance with ethical standards and with the
    consent of the depicted individuals or their legal representatives
  </p>
</section>
