<section class="gallery-sec">
  <div class="gallery-container container">
    <img
      class="lazy"
      data-src="./img/newborn/1.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/2.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/3.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/4.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/5.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/6.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/7.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/8.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/9.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/10.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/11.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/12.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/13.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/14.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/15.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/16.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/17.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/18.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/19.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/newborn/20.webp"
      alt="Image"
      loading="lazy"
    />
  </div>
  <p style="text-align: center; padding: 30px 10px 0 10px; max-width: 900px">
    The photos are published in accordance with ethical standards and with the
    consent of the depicted individuals or their legal representatives
  </p>
</section>
