<section class="price-section">
  <div class="container">
    <!-- Individual Photography -->
    <div class="price-item">
      <div class="price-info">
        <h2 class="price-title">Individual Photography</h2>
        <ul class="price-list">
          <li>1-hour session: 150€</li>
          <li>30-50 photos</li>
          <li>Additional session with outfit change</li>
          <li>
            Professional editing : <br />
            all photo in color correction, including 10 photos in detailed
            retouching
          </li>
        </ul>
        <button class="price-button">Book</button>
      </div>
      <div class="price-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/individual/5.webp" alt="Individual Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/individual/38.webp" alt="Individual Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/individual/57.webp" alt="Individual Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/individual/52.webp" alt="Individual Photography" />
          </div>
        </div>
      </div>
    </div>

    <!-- Family Photography -->
    <div class="price-item">
      <div class="price-info">
        <h2 class="price-title">Family Photography</h2>
        <ul class="price-list">
          <li>1-hour session: 200 €</li>
          <li>50-70 photos</li>
          <li>Additional session with outfit change</li>
          <li>
            Professional editing : <br />
            all photo in color correction, including 10-15 photos in detailed
            retouching
          </li>
          <li>Includes group and individual shots</li>
        </ul>
        <button class="price-button">Book</button>
      </div>
      <div class="price-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/family/10.webp" alt="Family Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/family/27.webp" alt="Family Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/family/18.webp" alt="Family Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/family/7.webp" alt="Family Photography" />
          </div>
        </div>
      </div>
    </div>

    <!-- Children Photography -->
    <div class="price-item">
      <div class="price-info">
        <h2 class="price-title">Children Photography</h2>
        <ul class="price-list">
          <li>1-hour session: 180 €</li>
          <li>30 and more photos (depending on how many kids)</li>
          <li>Additional session with outfit change</li>
          <li>
            Professional editing : <br />
            all photo in color correction, including 10-15 photos in detailed
            retouching
          </li>
          <li>Includes group and individual shots</li>
          <li>
            <h3 class="mini-session">
              And you can also book a <br />
              30-minute mini session: 100 €
            </h3>
          </li>
          <li>Perfect for birthdays, milestones, and special occasions</li>
          <li>Fun and relaxed environment for children</li>
        </ul>
        <button class="price-button">Book</button>
      </div>
      <div class="price-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/children/11.webp" alt="Kids Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/children/2.webp" alt="Kids Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/children/30.webp" alt="Kids Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/children/44.webp" alt="Kids Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/children/31.webp" alt="Kids Photography" />
          </div>
        </div>
      </div>
    </div>

    <!-- Newborn Photography -->
    <div class="price-item">
      <div class="price-info">
        <h2 class="price-title">Newborn Photography</h2>
        <ul class="price-list">
          <li>2-hour session: 250€</li>
          <li>Indoor session with professional lighting</li>
          <li>Carefully selected props for newborn</li>
          <li>Gentle posing for the baby’s comfort and safety</li>
          <li>
            Professional editing : <br />
            all photos in detailed retouching
          </li>
        </ul>
        <button class="price-button">Book</button>
      </div>
      <div class="price-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/newborn/1.webp" alt="Newborn Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/newborn/3.webp" alt="Newborn Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/newborn/8.webp" alt="Newborn Photography" />
          </div>
          <div class="swiper-slide">
            <img src="./img/newborn/14.webp" alt="Newborn Photography" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
