/*================== modal-thanks ====================*/
.modal-thanks {
    display: flex;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(191, 168, 146, 0.3), rgba(191, 168, 146, 0.3)),
        url('/img/home/what6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.modal-thanks.active {
    opacity: 1;
    visibility: visible;
}

.modal-thanks-content {
    position: relative;
    top: -10%;
    background-color:rgb(199, 175, 152);
    padding: 20px 30px;
    color: #322d29;
    text-align: center;
    border-radius: 10px;
    width: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    transform: scale(0.8);
        transition: transform 0.5s ease;
}

.modal-thanks.active .modal-thanks-content {
    transform: scale(1);
}

/*================== modal-thanks TAB ====================*/
@media (min-width: 768px) {
    .modal-thanks-content p {
        font-size: 20px;
    }

    .modal-thanks-content h2 {
        font-size: 32px;
    }
}

/*================== modal-thanks DESC ====================*/
@media (min-width: 1024px) {
    .modal-thanks-content p {
        font-size: 22px;
    }

    .modal-thanks-content h2 {
        font-size: 38px;
    }
}