/* ========================ABOUT ME==================== */
.about {
    padding: 20px 0 30px 0;
}
.about-title2{
    display: none;
    opacity: 0;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-container h3 {
    text-align: center;
    margin-bottom: 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
}
.about-content h2{
    margin-bottom: 0;
}
.about-bec-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    min-width: 350px;
    background-image: url('/img/home/about-me-bec.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    transform: translateY(30px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}
.about-bec-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(173, 151, 130, 0.419);
    border-radius: 8px;
    z-index: 1;
}
.about-bec-img.visible{
    opacity: 1;
    transform: translateY(0);
}
.about-img {
    height: 250px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: rgb(173, 151, 130);
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-img.visible {
    opacity: 1;
    transform: translateY(0);
}
.about-title.visible{
    font-size:26px;
}
.about-title,
.about-text .line,
.about-link {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-title.visible,
.about-text .line.line-visible,
.about-link.visible {
    opacity: 1;
    transform: translateY(0);
}
.about-text{
    padding: 0 15px;
}
.about-text .line {
    line-height: 1.4;
    text-align: center;
    font-size: var(--font-small);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-link {
    text-decoration: none;
    background-color: rgba(149, 120, 94, 0.616);
    color: var(--color-text-primary);
    border: none;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 500;
    transition: background-color 250ms linear, color 250ms linear;
}

.about-link:hover {
    background-color: rgba(129, 104, 78, 0.666);
    color: var(--color-link-active);
}

/* ========================ABOUT ME TAB==================== */
@media (min-width: 768px) {
    .about {
    padding: 40px 0 30px 0;
    }
    .about-container {
        gap:30px;
    }
    .about-container h3{
        font-size: 22px;
    }
.about-bec-img {
    min-width: 650px;
}
    .about-img {
       height: 350px;
    }
    .about-content {
    gap: 25px;
    }

.about-text .line {
    line-height: 1.5;
    font-size: var(--font-medium);
}
    .about-link {
        padding: 12px 17px;
        font-size: var(--font-medium);
        margin-top: 8px;
    }
}
.about-title.visible{
    font-size: 32px;
}
/* ========================ABOUT ME DESC==================== */
@media (min-width: 1024px) {
.about-title{
    display: none;
    opacity: 0;
}
.about-title2{
    display: block;
    opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease, transform 0.6s ease;
}
.about-title2.visible{
    text-align: center;
    opacity: 1;
    font-size: 30px;
    margin-bottom: 25px;
    transform: translateY(0);
}
        .about-bec-img {
            min-width: 450px;
        }
    
        .about-img {
            height: 300px;
        }
        .about-container {
        gap: 35px;
        }
        /* .about-container h2 {
            font-size: 30px;
        }
     */
        .about-content {
            max-width: 970px;
            display: flex;
            flex-direction: row;
            gap: 35px;
        }

        .about-link {
            padding: 12px 17px;
            font-size: var(--font-medium);
            margin-top: 8px;
        }
    }