/* ======================REVIEWS====================== */
.background-photo-rev {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background-photo-rev .parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:120%;
    background-image: url('/img/home/what6.jpg');
    background-size: cover;
    background-position: center;
    transform: translateY(0);
    will-change: transform;
}

.background-photo-rev .parallax-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 100, 90, 0.25);
    z-index: 1;
}

.reviews-section,
.contact {
    position: relative;
    z-index: 2;
    padding: 30px 0;
    flex: 1;
}
.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
}
.reviews-section{
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 40%, rgb(172, 149, 127) 100%);
}
.swiper {
    width: 100%;
    height: 208px;
}

.swiper-slide {
    padding: 6px;
}

.review-content {
    background-color:
        rgb(173, 151, 130);
    padding:15px 10px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.05),
        4px 0 6px rgba(0, 0, 0, 0.05),
        -4px 0 6px rgba(0, 0, 0, 0.05);
        display: flex;
            flex-direction: column;
            justify-content: flex-start;
        
}

.review-author {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.review-text {
    text-align: center;
    font-size: 16px;
    max-height: 90%;
    overflow-y: auto;
    padding-right: 5px;
    line-height: 1.4;
    scrollbar-width: thin;
    margin-bottom: auto;
    flex-grow: 1;
}
.review-text::-webkit-scrollbar {
    all: unset;
    width: 6px;
}
.review-text::-webkit-scrollbar-track {
    all: unset;
    background: transparent;
}
.review-text::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.review-text::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}
.review-form-button {
    background-color: rgba(191, 168, 146, 0.567);
    border: none;
    font-family: "Cormorant Garamond, serif";
    font-size: 20px;
    margin-top: 25px;
    color:#322d29;
    padding: 10px 14px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
    font-size: var(--font-small);
    transition: background-color 250ms linear;
}

.review-form-button:hover,
.review-form-button:focus {
    background-color: var(--color-bg-hover);

}
:root {
    --swiper-pagination-color: #FFF8E7;
    ;
    --swiper-pagination-bullet-horizontal-gap: 3px;
}

/* ======================REVIEWS TAB====================== */
@media (min-width: 768px) {
    .reviews-section {
        padding: 30px 0 30px 0;
    }

    .reviews-title {
        margin-bottom: 32px;
        font-size: 32px;
    }
        .background-photo-rev .parallax-bg {
            height: 120%;
        }    
        
        .swiper {
        width: 100%;
        height: 250px;
    }
.swiper-slide {
    padding: 10px;
}
    .review-content {
        height: 180px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
            0 -4px 10px rgba(0, 0, 0, 0.05),
            4px 0 10px rgba(0, 0, 0, 0.05),
            -4px 0 10px rgba(0, 0, 0, 0.05);
    }

    .review-author {
        font-size: 22px;
    }

    .review-text {
        font-size: 20px;
    }
.review-form-button {
    font-size: 22px;
    margin-top: 32px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-medium);
}
}

/* ======================REVIEWS DESC====================== */
@media (min-width: 1024px) {
.container{
    max-width: 1024px;
}
    .reviews-title {
        font-size: 38px;
    }

    .swiper {
        width: 100%;
        height: 260px;
    }

        .swiper-slide {
            padding: 10px;
        }
    .review-author {
        font-size: 22px;
    }

    .review-text {
        font-size: 20px;
    }
                .review-content {
                    height: 180px;
                }
}