<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <a href="index.html">
        <img src="/img/home/logo.png" alt="Logo" class="footer-logo" />
      </a>
      <div class="footer-social-links">
        <a
          href="https://www.instagram.com/aleks_a_photo"
          target="_blank"
          class="footer-social-icon instagram"
        >
          <svg width="30" height="30">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://t.me/Aleksa_2327"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-icon telegram"
        >
          <svg width="30" height="30">
            <use href="/img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a
          href="https://wa.me/4367764373892"
          rel="noopener noreferrer"
          target="_blank"
          class="footer-social-icon whatsapp"
        >
          <svg width="30" height="30">
            <use href="/img/sprite.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </div>
    </div>
    <p class="footer-links">
      <a href="./privacy-policy.html">Privacy Policy</a>
      |
      <a href="./terms-of-use.html">Terms of Use</a>
    </p>
  </div>
</footer>
