<header class="header" id="header">
  <div class="header-container container">
    <img class="logo-mob" src="/img/home/logo.png" width="120" alt="Logo" />
    <button class="burger-menu">
      <svg class="icon icon-mob-menu" width="30" height="30">
        <use href="/img/sprite.svg#icon-mob-menu"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="home-page.html">HOME</a></li>
        <li><a href="individual-page.html">INDIVIDUAL</a></li>
        <li><a href="family-page.html">FAMILY</a></li>
        <li>
          <img class="logo" src="/img/home/logo.png" alt="Logo" />
        </li>
        <li><a href="children-page.html">CHILDREN</a></li>
        <li><a href="newborn-page.html">NEWBORN</a></li>
        <li><a href="price-page.html">PRICE</a></li>
      </ul>
    </nav>
  </div>
</header>
