<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display+SC&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-container container">
        <img
          class="logo-mob"
          src="../img/home/logo.png"
          width="120"
          alt="Logo"
        />
        <button class="burger-menu">
          <svg class="icon icon-mob-menu" width="30" height="30">
            <use href="../img/sprite.svg#icon-mob-menu"></use>
          </svg>
        </button>
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="home.html">HOME</a></li>
            <li><a href="#about-me">ABOUT ME</a></li>
            <li><a href="price.html">PRICE</a></li>
            <li>
              <img
                class="logo"
                src="../img/home/logo.png"
                width="160"
                alt="Logo"
              />
            </li>
            <li class="portfolio-dropdown">
              <a href="#">PORTFOLIO</a>
              <ul class="dropdown-menu">
                <li><a href="individual.html">Individual</a></li>
                <li><a href="family.html">Family</a></li>
                <li><a href="children.html">Children</a></li>
                <li><a href="newborn.html">Newborn</a></li>
              </ul>
            </li>
            <li><a href="#reviews">REVIEWS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- hero -->
    <section class="hero">
      <div class="hero-content container">
        <h1>Welcome to My Photography Portfolio</h1>
        <p>Capturing moments that last forever</p>
      </div>
    </section>
    <!-- about me -->
    <section class="about" id="about-me">
      <div class="about-container container">
        <h2>Hi, I'm Aleksandra</h2>
        <div class="about-content">
          <img
            src="../img/home/about_me.jpg"
            alt="My Photo"
            class="about-img"
          />
          <p>
            I love photographing in a way that makes every picture not just an
            image, but a story. <br />
            I believe every moment can be made special, and my camera just helps
            highlight it. <br />
            And yes, don’t be surprised if you see me up a tree or in the bushes
            – I’m ready to do anything for the perfect shot!😄
          </p>
        </div>
        <a href="about.html" class="about-link">More about me</a>
      </div>
    </section>

    <!-- what am I photographing? -->
    <section class="photography">
      <div class="photography-container">
        <div class="image-container">
          <div class="image-wrapper">
            <img src="../img/home/1-02.jpg" alt="Photo 1" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 2" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 3" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 4" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 5" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 6" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 7" class="hidden" />
            <img src="../img/home/me.jpg" alt="Photo 8" class="hidden" />
            <img src="../img/home/1-19.jpg" alt="Photo 9" class="hidden" />
            <img src="../img/home/1-19.jpg" alt="Photo 10" class="hidden" />
            <img src="../img/home/1-19.jpg" alt="Photo 11" class="hidden" />
            <img src="../img/home/1-19.jpg" alt="Photo 12" class="hidden" />
            <img src="../img/home/1-19.jpg" alt="Photo 13" class="hidden" />
            <img src="../img/home/1-19.jpg" alt="Photo 14" class="hidden" />
          </div>
        </div>
        <div class="photography-content">
          <h2 class="photography-title">What am I photographing?</h2>
          <p class="photography-description">
            I love photographing everything I see around me: nature,
            architecture, people, and capturing the unnoticed moments of social
            events and celebrations. I enjoy spending a long time perfecting a
            single posed shot, as well as disappearing from view during
            documentary shooting at events. <br />
            This all makes up a significant part of my hobby called photography.
            I would love to combine all these aspects in my profession, but with
            experience, I have decided to focus on the main areas where I can
            fully invest myself and bring people more joy and satisfaction from
            enriching their archives with my photos and stories. <br />
            <b>
              Below, you can explore the types of shoots I am currently
              passionately engaged in</b
            >.
          </p>
          <a href="contacts.html" class="photography-link">Contact Me</a>
        </div>
      </div>
    </section>

    <!-- portfolio -->
    <section class="portfolio">
      <div class="portfolio-container container">
        <ul class="portfolio-list">
          <li class="portfolio-item">
            <div class="portfolio-image1">
              <h2 class="portfolio-title">Individual</h2>
              <a href="price.html" class="portfolio-link">More Details</a>
            </div>
          </li>
          <li class="portfolio-item">
            <div class="portfolio-image2">
              <h2 class="portfolio-title">Family</h2>
              <a href="price.html" class="portfolio-link">More Details</a>
            </div>
          </li>
          <li class="portfolio-item">
            <div class="portfolio-image3">
              <h2 class="portfolio-title">Children</h2>
              <a href="price.html" class="portfolio-link">More Details</a>
            </div>
          </li>
          <li class="portfolio-item">
            <div class="portfolio-image4">
              <h2 class="portfolio-title">Newborn</h2>
              <a href="price.html" class="portfolio-link">More Details</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- reviews -->
    <section class="reviews-section">
      <div class="reviews-container">
        <h2 id="reviews" class="reviews-title">What my clients say</h2>
        <ul class="reviews">
          <li class="review">
            <img src="user1.jpg" alt="Review 1" class="review-image" />
            <div class="review-content">
              <h3 class="review-author">Emily</h3>
              <p class="review-text">
                Had an amazing individual photoshoot! The photographer made me
                feel comfortable and the pictures turned out fantastic!
              </p>
            </div>
          </li>
          <li class="review">
            <img src="user2.jpg" alt="Review 2" class="review-image" />
            <div class="review-content">
              <h3 class="review-author">Thomas</h3>
              <p class="review-text">
                Thank you. Everything was cool. The photos are great.
              </p>
            </div>
          </li>
          <li class="review">
            <img src="user3.jpg" alt="Review 3" class="review-image" />
            <div class="review-content">
              <h3 class="review-author">Sophie Müller</h3>
              <p class="review-text">
                Die Fotosession mit meinen Kindern war einfach fantastisch! Die
                Bilder sind wunderschön und die Kinder hatten viel Spaß. Danke!
              </p>
            </div>
          </li>
          <li class="review">
            <img src="user4.jpg" alt="Review 4" class="review-image" />
            <div class="review-content">
              <h3 class="review-author">Katarina</h3>
              <p class="review-text">
                Thank you, it was very comfortable at the photo session! The
                photos are incredible! I have already ordered a photo book.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- get in touch -->
    <section class="contact">
      <div class="contact-container">
        <h2 class="contact-title">Get in touch</h2>
        <form action="" method="post" class="contact-form">
          <div class="form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              class="form-input"
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              class="form-input"
            />
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea
              id="message"
              name="message"
              rows="4"
              maxlength="200"
              required
              class="form-textarea"
            ></textarea>
          </div>
          <div>
            <button type="submit" class="form-button">Send</button>
          </div>
        </form>
        <img src="" alt="" class="contact-image" />
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <a href="index.html">
          <img src="logo.png" alt="Logo" class="footer-logo" />
        </a>
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="price.html">Price</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="contacts.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <p class="footer-links">
        <a href="/privacy-policy">Privacy Policy</a> |
        <a href="/terms-of-use">Terms of Use</a>
      </p>
    </footer>
    <!-- Модальне вікно -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <h2>Thank you for your trust!</h2>
        <p>I will definitely get back to you within 24 hours.</p>
      </div>
    </div>
    <script type="module" src="../js/home.js"></script>
  </body>
</html>
