.no-scroll {
    overflow: hidden;
    height: 100vh;
}
#in-app-warning {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(191, 168, 146, 0.6);
    color: var(--color-text-primary, black);
    padding: var(--padding-medium);
    font-family: var(--font-main, sans-serif);
    font-size: var(--font-small, 14px);
    line-height: 1.5;
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow-large, 0 -2px 10px rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(6px);
}
.pin-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(191, 168, 146, 0.3), rgba(191, 168, 146, 0.3));
    backdrop-filter: blur(4px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, background-image 0.5s ease;
}
.pin-modal-overlay.show {
    opacity: 1;
}
.pin-modal-content {
    background-color:rgba(191, 168, 146, 0.685);
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 75%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pin-modal-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.pin-modal-content input {
background: var(--color-bg-body);
    font-family: var(--font-main);
    font-size: var(--font-small);
    text-align: center;
    padding: var(--padding-small);
    width: 250px;
    border: none;
    resize: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow-small);
    transition: background-color 250ms linear, color 250ms linear, outline 250ms linear;
    box-sizing: border-box;
}
.pin-modal-content input::placeholder {
    font-family: Ephesis;
    font-size: var(--font-small);
    color: var(--color-text-primary);
}
.pin-modal-content input:focus,
.pin-modal-content input:hover,
.pin-modal-content input:active {
    outline: none;
    background-color: var(--color-bg-hover);
    color: var(--color-text-primary);
}

.pin-modal-content input:focus,
.pin-modal-content input:hover,
.pin-modal-content input:active,
.pin-modal-content input:not(:placeholder-shown) {
    outline: none;
    background-color: rgb(199, 175, 152);
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    color: #322d29;
}
.pin-modal-content button {
text-decoration: none;
    background-color: var(--color-bg-body);
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    font-family: var(--font-main);
    font-size: var(--font-small);
    transition: background-color 250ms linear, color 250ms linear;
}

.pin-modal-content button:hover {
background-color: var(--color-bg-hover);
    color: #fefefe;
}

.pin-modal-overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}
.header-client-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header-client-container h1 {
    font-size: 24px;
    margin-top: 5px;
}

.header-client-container a {
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: var(--box-shadow-small);
    border-radius: 5px;
    color: #1b1a19;
}

.hero-client-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}
 .hero-title-client-gallery {
     font-family: "Ephesis", system-ui;
     max-width: 80%;
     font-size: 36px;
     font-weight: 500;
     font-style: normal;
     position: absolute;
     bottom: 20px;
     left: 20px;
     color: var(--color-text-primary);
     background: rgba(191, 168, 146, 0.6);
     padding: 8px 15px;
     border-radius: 8px;
 }

 .main-foto-client-gallery {
     width: 100%;
     height: auto;
     display: block;
 }
.hero-client-gallery img {
    width: 100%;
    height: auto;
    display: block;
}
 .client-photo-gallery {
     padding: 30px 15px;
     text-align: center;
 }

#gallery {
    column-count: 2;
    column-gap: 12px;
    padding: 20px 0 30px 0;
    width: 100%;
}

 .client-img-wrapper {
     break-inside: avoid;
     margin-bottom: 12px;
 }
.gallery-photo {
    display: block;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    break-inside: avoid;
    /* margin-bottom: 10px; */
    opacity: 0;
    transform: translateY(40px);
    filter: blur(8px);
    transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
}

.gallery-photo.visible {
    opacity: 1;
        transform: translateY(0);
        filter: blur(0);
}

 .client-gallery-btn{
    font-family: var(--font-main);
            text-decoration: none;
            background-color: rgba(149, 120, 94, 0.6);
            color: var(--color-text-primary);
            border: none;
            padding: 10px 14px;
            border-radius: 5px;
            cursor: pointer;
            font-size: var(--font-small);
            transition: background-color 250ms linear, color 250ms linear;
        }
    
                .client-gallery-btn:hover {
            background-color: var(--color-bg-hover);
            color: #fefefe;
        }
                .photo-modal {
                    display: none;
                    position: fixed;
                    z-index: 9999;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    overflow: auto;
                    background-color: rgba(0, 0, 0, 0.20);
                    backdrop-filter: blur(5px);
                    align-items: center;
                    justify-content: center;
                }
        
                .photo-modal img {
                    max-width: 90vw;
                    max-height: 90vh;
                    margin: 0 auto;
                    border-radius: 10px;
                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
                    object-fit: contain;
                    background: none;
                }
        
                .close-modal {
                    position: absolute;
                        top: 20px;
                        right: 25px;
                        color: white;
                        font-size: 32px;
                        font-weight: bold;
                        cursor: pointer;
                        z-index: 10000;
                }
        
                .close-modal:hover {
                    color: #bbb;
                }

 /*================== CLIEN GALLERY TAB ==========*/
 @media (min-width: 768px) {
    .pin-modal-content {
        max-width: 90%;
        padding: 40px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pin-modal-content h2 {
        font-size: 22px;
    }

    .pin-modal-content input {
        font-size: var(--font-medium);
    }

    .pin-modal-content input::placeholder {
        font-size: var(--font-medium);
    }

    .pin-modal-content input:focus,
    .pin-modal-content input:hover,
    .pin-modal-content input:active,
    .pin-modal-content input:not(:placeholder-shown) {
        font-size: 18px;
    }

    .pin-modal-content button {
        padding: 12px 22px;
        border-radius: 8px;
        margin-top: 25px;
        font-size: var(--font-medium);
    }

    .header-client-container {
        padding: 0 0 10px 0;
    }

    .header-client-container h1 {
        font-size: 28px;
    }

    .header-client-container a {
        font-size: 18px;
    }

    .hero-title-client-gallery {
        font-size: 38px;
        bottom: 30px;
        padding: 10px 20px;
    }
#gallery {
    column-count: 3;
    column-gap: 20px;
    padding: 30px 0 40px 0;
}

.client-img-wrapper {
    margin-bottom: 20px;
}

   .client-gallery-btn {
    font-size: var(--font-medium);
        padding: 12px 16px;
        border-radius: 8px;
    }
#in-app-warning {
    font-size: var(--font-medium, 16px);
}

 }
 /*================== CLIEN GALLERY DESC ==========*/
 @media (min-width: 1024px){
    
        .header-client-container {
            padding: 0 0 10px 0;
        }
    
        .header-client-container h1 {
            font-size: 28px;
        }
    
        .header-client-container a {
            font-size: 18px;
        }
    
        .hero-title-client-gallery {
            font-size: 38px;
            bottom: 30px;
            padding: 10px 20px;
        }
    
#gallery {
    column-count: 4;
    column-gap: 20px;
    padding: 30px 0 50px 0;
}

.client-img-wrapper {
    margin-bottom: 20px;
}
    
        .client-gallery-btn {
            font-size: var(--font-medium);
            padding: 12px 16px;
            border-radius: 8px;
        }
 }