.pin-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(191, 168, 146, 0.3), rgba(191, 168, 146, 0.3));
    backdrop-filter: blur(4px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    opacity: 0;
        transition: opacity 0.5s ease;
        transition: background-image 0.5s ease;
}
.pin-modal-overlay.show {
    opacity: 1;
}
.pin-modal-content {
    background-color:rgba(191, 168, 146, 0.685);
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 75%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pin-modal-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.pin-modal-content input {
background: var(--color-bg-body);
    font-family: var(--font-main);
    font-size: var(--font-small);
    text-align: center;
    padding: var(--padding-small);
    width: 250px;
    border: none;
    resize: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow-small);
    transition: background-color 250ms linear, color 250ms linear, outline 250ms linear;
    box-sizing: border-box;
}
.pin-modal-content input::placeholder {
    font-family: Ephesis;
    font-size: var(--font-small);
    color: var(--color-text-primary);
}
.pin-modal-content input:focus,
.pin-modal-content input:hover,
.pin-modal-content input:active {
    outline: none;
    background-color: var(--color-bg-hover);
    color: var(--color-text-primary);
}

.pin-modal-content input:focus,
.pin-modal-content input:hover,
.pin-modal-content input:active,
.pin-modal-content input:not(:placeholder-shown) {
    outline: none;
    background-color: rgb(199, 175, 152);
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    color: #322d29;
}
.pin-modal-content button {
text-decoration: none;
    background-color: var(--color-bg-body);
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    font-family: var(--font-main);
    font-size: var(--font-small);
    transition: background-color 250ms linear, color 250ms linear;
}

.pin-modal-content button:hover {
background-color: var(--color-bg-hover);
    color: #fefefe;
}

.pin-modal-overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}
.header-client-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header-client-container h1 {
    font-size: 26px;
}

.header-client-container a {
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: var(--box-shadow-small);
    border-radius: 5px;
    color: #1b1a19;
}

.hero-client-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}
 .hero-title-client-gallery {
     font-family: "Ephesis", system-ui;
     max-width: 90%;
     font-size: 36px;
     font-weight: 500;
     font-style: normal;
     position: absolute;
     bottom: 20px;
     left: 20px;
     color: var(--color-text-primary);
     background: rgba(191, 168, 146, 0.6);
     padding: 8px 15px;
     border-radius: 8px;
 }

 .main-foto-client-gallery {
     width: 100%;
     height: auto;
     display: block;
 }
.hero-client-gallery img {
    width: 100%;
    height: auto;
    display: block;
}
 .client-photo-gallery {
     padding: 30px 15px;
     text-align: center;
 }

 #gallery {
    display: flex;
        padding: 20px 0 30px 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
 }

.client-img-wrapper {
    width: 48%;
        overflow: hidden;
        position: relative;
        min-height: 0 !important;
}
.lazy-client {
    display: block;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    break-inside: avoid;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(30px);
    filter: blur(8px);
    transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
    width: 100%;
    display: block;
}

.lazy-client.visible {
    opacity: 1;
        transform: translateY(0);
        filter: blur(0);
}

 .client-gallery-btn{
    font-family: var(--font-main);
            text-decoration: none;
            background-color: rgba(149, 120, 94, 0.6);
            color: var(--color-text-primary);
            border: none;
            padding: 10px 14px;
            border-radius: 5px;
            cursor: pointer;
            font-size: var(--font-small);
            transition: background-color 250ms linear, color 250ms linear;
        }
    
                .client-gallery-btn:hover {
            background-color: var(--color-bg-hover);
            color: #fefefe;
        }

 /*================== CLIEN GALLERY TAB ==========*/
 @media (min-width: 768px) {
    .pin-modal-content {
        max-width: 90%;
        padding: 40px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pin-modal-content h2 {
        font-size: 22px;
    }

    .pin-modal-content input {
        font-size: var(--font-medium);
    }

    .pin-modal-content input::placeholder {
        font-size: var(--font-medium);
    }

    .pin-modal-content input:focus,
    .pin-modal-content input:hover,
    .pin-modal-content input:active,
    .pin-modal-content input:not(:placeholder-shown) {
        font-size: 18px;
    }

    .pin-modal-content button {
        padding: 12px 22px;
        border-radius: 8px;
        margin-top: 25px;
        font-size: var(--font-medium);
    }

    .header-client-container {
        padding: 0 0 10px 0;
    }

    .header-client-container h1 {
        font-size: 28px;
    }

    .header-client-container a {
        font-size: 18px;
    }

    .hero-title-client-gallery {
        font-size: 38px;
        bottom: 30px;
        padding: 10px 20px;
    }

    #gallery {
        row-gap: 7px;
    }

    .client-img-wrapper {
        width: 32%;
    }

   .client-gallery-btn {
    font-size: var(--font-medium);
        padding: 12px 16px;
        border-radius: 8px;
    }


 }
 /*================== CLIEN GALLERY DESC ==========*/
 @media (min-width: 1024px){
    
        .header-client-container {
            padding: 0 0 10px 0;
        }
    
        .header-client-container h1 {
            font-size: 28px;
        }
    
        .header-client-container a {
            font-size: 18px;
        }
    
        .hero-title-client-gallery {
            font-size: 38px;
            bottom: 30px;
            padding: 10px 20px;
        }
    
        #gallery {
            row-gap: 7px;
        }
    
        .client-img-wrapper {
            width: 32%;
        }
    
        .client-gallery-btn {
            font-size: var(--font-medium);
            padding: 12px 16px;
            border-radius: 8px;
        }
 }