.admin{
    padding: 30px 0;
    margin: 0 auto;
}
.admin-btn-home{
   padding:10px  20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
   border-radius: 8px;
   margin-left: 15px;
}
 .admin-container {
    text-align: center;

 }
 .admin-title{
    margin-bottom: 20px;
 }

 .review-item p{
    margin-bottom: 10px;
 }
 .review-buttons button{
    margin: 0 10px;
 }
 #reviewList{
    padding:20px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
 }
 #approvedReviewList{
    padding: 20px 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
 }
 /* ====================== СТИЛІ ФОРМИ В АДМІНЦІ ====================== */
 .new-client {
    margin:30px auto;
    padding: 20px;
    max-width: 600px;
    background-color:var(--color-bg-body);
    border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
 }

 .admin-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
 }

 #clientForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
 }

 #clientForm label {
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
 }

 #clientForm input {
    height: 42px;
    width: 100%;
    max-width: 400px;
    background: var(--color-bg-body);
    font-family: var(--font-main);
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: none;
    resize: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow-small);
    transition: background-color 250ms linear, color 250ms linear, outline 250ms linear;
    box-sizing: border-box;
 }

 #clientForm input::placeholder {
    font-family: "Ephesis", serif;
    font-size: 18px;
    color: var(--color-text-primary);
 }

 #clientForm input:focus,
 #clientForm input:hover,
 #clientForm input:active {
    outline: none;
    background-color: rgb(199, 175, 152);
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
    color: #322d29;
 }

 /* Стилі для кнопки */
 #clientForm button {
   background-color: var(--color-button-bg);
      color: var(--color-button-text);
      border: none;
      padding: var(--padding-small) var(--padding-medium);
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 20px;
      transition: background-color 0.3sease;
 }

 #clientForm button:hover {
    background-color: var(--color-bg-hover);

 }