.container{
    min-width: 320px;
    margin: 0 auto;
    padding: 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(191, 168, 146, 0.638);
    z-index: 10;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header.hidden {
    transform: translateY(-100%);
    opacity: 0;  
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: none;
}

.logo-mob{
    margin-left: 20px;
}
.burger-menu {
    background-color: transparent;
      display: block;
      width: 40px;
      height: 35px;
      padding: 0;
  }
button:hover {
      background-color: rgba(116, 94, 71, 0.523);
  }
.icon {
      width: 100%;
      height: 100%;
      fill: #000;
  }
/* ====================HEADER TAB============== */
@media (min-width: 768px) {
.container {
    min-width: 768px;
}

.logo-mob{
    display: none;
}
.burger-menu{
    display: none;
}
.header-container{
    display: block;
}
.logo{
    width: 130px;
}
.nav{
    display: block;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}
.nav-list li {
    position: relative;
}

.nav-list a {
    text-decoration: none;
    /* font-weight: bold; */
    font-family: "Playfair Display SC", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    padding: 10px 15px;
    display: inline-block;
    color: #000;
    font-size: 14px;
    transition: color 250ms linear;
}

.nav-list a:hover,
.nav-list a:focus{
    color: #FFF8E7;
}

.portfolio-dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 0 8px 5px 8px;
    top: 133%;
    left: 0;
    background-color:rgba(191, 168, 146, 0.638);
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.3);
    text-align: center;
    list-style: none;
    z-index: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.portfolio-dropdown .dropdown-menu li a {
    font-family: "Playfair Display SC", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    padding: 1px 10px 6px 10px;
    display: block;
    white-space: nowrap;
    font-size: 12px;
}

.portfolio-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li a:hover {
    color:#FFF8E7;
}

}
/* ================HEADER DESC================ */
@media (min-width: 1024px) {
.container {
    min-width: 1024px;
    max-width: 1440px;
}
.nav-list{
    height: 50px;
}
.logo{
    width: 150px;
}
.nav-list a{
    font-size: 18px;
}

.portfolio-dropdown .dropdown-menu {
    padding-bottom: 12px;
    top: 132%;
    width: 127px;
}

.portfolio-dropdown .dropdown-menu li a {
    font-family: "Playfair Display SC", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    padding: 1px 10px 6px 10px;
    display: block;
    white-space: nowrap;
    font-size: 16px;
}

.portfolio-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li a:hover {
    color: #FFF8E7;
}
}

/* ===============HERO MOB==================== */

.hero {
    height: 100vh;
    background-image: url('../img/home/1-02.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgb(194, 169, 143) 100%), url('../img/home/1-02.jpg');
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 100, 90, 0.25);
    /* Можна залишити цей напівпрозорий шар */
    z-index: -1;
}
.hero-content {
    text-align: center;
    background:rgba(191, 168, 146, 0.605);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
       color: #000;
    transform: translate(-50%, -50%);
}
.hero-content h1{
    font-family: "Ephesis", system-ui;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
}
.hero-content p{
    font-family: "Playfair Display SC", system-ui;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.6;
}
/* =======================HERO TAB=================== */
@media (min-width: 768px){
.hero-content h1 {
    font-size: 36px;
}
.hero-content{
    background: rgba(191, 168, 146, 0.663);
}
.hero-content p {
    font-size: 16px;
}
}
/* ===================HERO DESK======================= */
@media (min-width: 1024px) {
.hero {
        background-image: url('../img/home/1-19.jpg');
    background-position: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgb(196, 168, 141) 100%), url('../img/home/1-19.jpg');
        background-size: cover;
        background-position: center;
}
.hero-content {
    padding: 30px;
}
    .hero-content h1 {
        font-size: 48px;
    }

    .hero-content p {
        font-size: 20px;
    }
}
/* ======================= SHOWCASE ==================== */
/* .showcase{
    padding: 20px 0;
}
.showcase-title{
    text-align: center;
    line-height: 1.2;
    font-family: "Ephesis", system-ui;
    font-size: 32px;
        font-weight: 400;
        font-style: normal;;
} */
/* ========================ABOUT ME==================== */
.about{
    padding: 30px 0;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.about-container h2{
    margin-bottom: 0;

}
.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about-img{
    width: 160px;
    border-radius: 8px;
}

.about-content p{
    line-height: 1.4;
    font-size: 14px;
}
.about-link{
    text-decoration: none;
    background-color: rgba(149, 120, 94, 0.616);
        color: #000;
        border: none;
        padding: 6px 11px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
        font-weight: 500;
        transition: background-color 250ms linear, color 250ms linear;
}
.about-link:hover {
    background-color:rgba(129, 104, 78, 0.666);
    color: #e8d1bc;
}
/* ========================ABOUT ME TAB==================== */
@media (min-width: 768px){
.about{
    padding: 50px 0;
}

.about-img {
    width: 240px;
    border-radius: 8px;
}
.about-container{
    gap: 30px;
}
.about-container h2 {
    font-size: 30px;
}
.about-content{
    gap: 35px
}
.about-content p {
    line-height: 1.4;
    font-size: 19px;
    font-weight: 500;
    width: 290px;
}
.about-link {
    padding: 10px 15px;
    font-size: 19px;
    margin-top: 8px;
}
}

/* ========================ABOUT ME DESC==================== */
@media (min-width: 1024px) {
    .about {
        padding: 50px 0;
    }

    .about-img {
        width: 300px;
        border-radius: 8px;
    }

    .about-container {
        gap: 38px;
        position: relative;
    }

    .about-container h2 {
        font-size: 38px;
        position: absolute;
        top: 2%;
        left: 52%;
    }

    .about-content {
        gap: 40px;
    }

    .about-content p {
        line-height: 1.4;
        font-size: 24px;
        font-weight: 500;
        width: 450px;
        margin-bottom: 25px;
    }

    .about-link {
        padding: 12px 17px;
        font-size: 22px;
        margin-top: 8px;
        position: absolute;
        top: 82%;
        left: 58%;
    }
}
/* ====================PORTFOLIO====================== */

/* ====================PORTFOLIO TAB====================== */
@media (min-width: 768px) {}

/* ====================PORTFOLIO  DESC====================== */
@media (min-width: 1024px) {}








/* Стилі для модального вікна */
.modal {
    display: none;
    /* Сховати за замовчуванням */
    position: fixed;
    z-index: 1;
    /* Перекриває інші елементи */
    left: 0;
    top: 0;
    width: 100%;
    /* Повна ширина */
    height: 100%;
    /* Повна висота */
    overflow: auto;
    /* Додає прокрутку, якщо потрібно */
    background-color: rgb(0, 0, 0);
    /* Чорний фон */
    background-color: rgba(0, 0, 0, 0.4);
    /* Прозорий фон */
}

/* Стилі для контенту модального вікна */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% зверху, центрування знизу */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ширина модального вікна */
}

/* Кнопка закриття */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}