.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(108, 84, 61, 0.534);
    z-index: 10;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.nav-list li {
    position: relative;
}

.nav-list a {
    font-family: "Playfair Display SC", system-ui;
        font-weight: 400;
        font-style: normal;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    color: #000;
    transition: color 250ms linear;
}
.nav-list a:hover,
.nav-list a:focus{
    color: #FFF8E7;
}

/* .nav-list a.active {
    color: #FFF8E7;
    font-weight: bold;
    text-decoration: underline;
} */

.portfolio-dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:rgb(136, 113, 92);
    box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.3);
    padding: 0;
    text-align: center;
    list-style: none;
    z-index: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.portfolio-dropdown .dropdown-menu li a {
    padding: 7px 10px;
    display: block;
    white-space: nowrap;
}

.portfolio-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li a:hover {
    color:#FFF8E7;
    /* Ефект при наведенні на елементи меню */
}
/* ===============HERO==================== */
.hero {
    height: 100vh;
    /* Висота секції "hero" на всю висоту вікна */
    background-image: url('./images/your-background-image.jpg');
    /* Ваша картинка */
    background-size: cover;
    /* Покриває всю секцію */
    background-position: center;
    /* Центрує зображення */
    display: flex;
    /* Додає гнучке позиціювання */
    align-items: center;
    /* Вертикальне вирівнювання контенту */
    justify-content: center;
    /* Горизонтальне вирівнювання контенту */
    color: #F0F0F0;
    /* Колір тексту */
    position: relative;
    /* Важливо для абсолютного позиціювання внутрішнього контенту */
}

.hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* Напівпрозорий фон для тексту */
    padding: 20px;
    border-radius: 10px;
    /* Закруглені краї */
    position: absolute;
    /* Змінено на абсолютне позиціювання */
    top: 50%;
    /* Центрування по вертикалі */
    left: 50%;
    /* Центрування по горизонталі */
    transform: translate(-50%, -50%);
    /* Вирівнює контент по центру */
}




/* =================== */
/* Стилі для модального вікна */
.modal {
    display: none;
    /* Сховати за замовчуванням */
    position: fixed;
    z-index: 1;
    /* Перекриває інші елементи */
    left: 0;
    top: 0;
    width: 100%;
    /* Повна ширина */
    height: 100%;
    /* Повна висота */
    overflow: auto;
    /* Додає прокрутку, якщо потрібно */
    background-color: rgb(0, 0, 0);
    /* Чорний фон */
    background-color: rgba(0, 0, 0, 0.4);
    /* Прозорий фон */
}

/* Стилі для контенту модального вікна */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% зверху, центрування знизу */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ширина модального вікна */
}

/* Кнопка закриття */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}