/* @import './home.css';
@import './about.css';
@import './contacts.css';
@import './get-photo.css'; */

/* Ресет стилів */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.3;
    color:#322d29;
    background-color: rgb(173, 151, 130);
    overflow-x: hidden;
}

.nav-list a.active {
    color: #FFF8E7;
    font-weight: bold;
    /* text-decoration: underline; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #322d29;;
}
button {
    background-color:rgba(111, 85, 61, 0.666);
    color: #F0F0F0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* button:hover {
    background-color:rgba(116, 94, 71, 0.523);
} */

/* .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
} */
