<section class="gallery-sec">
  <div class="gallery-container container">
    <picture>
      <source
        srcset="./img-optimized/individual/1-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/1-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/1-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/2-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/2-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/2-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/3-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/3-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/3-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/4-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/4-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/4-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/5-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/5-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/5-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/6-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/6-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/7-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/7-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/7-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/8-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/individual/8-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/8-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/9-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/9-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/9-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/10-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/10-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/10-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/11-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/11-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/11-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/12-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/12-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/12-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/13-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/13-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/13-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/14-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/14-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/14-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/15-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/15-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/15-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/16-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/16-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/17-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/17-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/17-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/18-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/18-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/18-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/19-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/19-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/19-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/20-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/20-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/20-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/21-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/21-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/21-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/22-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/22-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/22-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/23-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/23-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/23-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/24-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/24-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/24-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/25-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/25-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/25-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/26-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/26-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/26-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/27-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/individual/27-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/27-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/28-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/28-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/28-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/29-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/29-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/29-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/30-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/30-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/30-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/31-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/31-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/31-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/32-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/32-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/32-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/33-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/33-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/33-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/34-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/34-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/34-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/35-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/35-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/35-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/36-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/36-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/36-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/37-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/37-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/37-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/38-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/38-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/38-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/39-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/39-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/39-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/40-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/40-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/40-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/41-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/41-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/41-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/42-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/42-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/42-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/43-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/43-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/43-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/44-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/44-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/44-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/45-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/45-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/45-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/46-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/individual/46-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/46-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/47-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/47-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/47-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/48-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/48-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/48-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/49-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/49-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/49-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/50-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/50-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/50-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/51-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/51-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/51-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/52-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/52-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/52-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/53-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/53-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/53-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/54-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/54-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/54-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/55-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/55-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/55-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/56-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/56-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/56-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/individual/57-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/57-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/57-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/58-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/58-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/58-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/individual/59-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/individual/59-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/individual/59-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
  </div>
  <p style="text-align: center; padding: 230px 10px 0 10px; max-width: 900px">
    The photos are published in accordance with ethical standards and with the
    consent of the depicted individuals or their legal representatives
  </p>
</section>
