<section class="gallery-sec">
  <div class="gallery-container container">
    <img
      class="lazy"
      data-src="./img/individual/2.webp"
      alt="Image 2"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/3.webp"
      alt="Image 3"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/4.webp"
      alt="Image 4"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/5.webp"
      alt="Image 5"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/6.webp"
      alt="Image 6"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/7.webp"
      alt="Image 7"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/8.webp"
      alt="Image 8"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/9.webp"
      alt="Image 9"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/10.webp"
      alt="Image 10"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/11.webp"
      alt="Image 11"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/12.webp"
      alt="Image 12"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/13.webp"
      alt="Image 13"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/14.webp"
      alt="Image 14"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/15.webp"
      alt="Image 15"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/16.webp"
      alt="Image 16"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/17.webp"
      alt="Image 17"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/18.webp"
      alt="Image 18"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/19.webp"
      alt="Image 19"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/20.webp"
      alt="Image 20"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/21.webp"
      alt="Image 21"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/22.webp"
      alt="Image 22"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/23.webp"
      alt="Image 23"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/24.webp"
      alt="Image 24"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/25.webp"
      alt="Image 25"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/26.webp"
      alt="Image 26"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/27.webp"
      alt="Image 27"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/28.webp"
      alt="Image 28"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/29.webp"
      alt="Image 29"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/30.webp"
      alt="Image 30"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/31.webp"
      alt="Image 31"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/32.webp"
      alt="Image 32"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/33.webp"
      alt="Image 33"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/34.webp"
      alt="Image 34"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/35.webp"
      alt="Image 35"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/36.webp"
      alt="Image 36"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/37.webp"
      alt="Image 37"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/38.webp"
      alt="Image 38"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/39.webp"
      alt="Image 39"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/40.webp"
      alt="Image 40"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/41.webp"
      alt="Image 41"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/42.webp"
      alt="Image 42"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/43.webp"
      alt="Image 43"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/44.webp"
      alt="Image 44"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/45.webp"
      alt="Image 45"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/46.webp"
      alt="Image 46"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/47.webp"
      alt="Image 47"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/48.webp"
      alt="Image 48"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/49.webp"
      alt="Image 49"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/50.webp"
      alt="Image 50"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/51.webp"
      alt="Image 51"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/52.webp"
      alt="Image 52"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/53.webp"
      alt="Image 53"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/54.webp"
      alt="Image 54"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/55.webp"
      alt="Image 55"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/56.webp"
      alt="Image 56"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/57.webp"
      alt="Image 57"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/58.webp"
      alt="Image 58"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/individual/59.webp"
      alt="Image 59"
      loading="lazy"
    />
  </div>
</section>
