<section class="about" id="about-me">
  <div class="about-container container">
    <h2>Hi, I'm Aleksandra</h2>
    <div class="about-content">
      <img src="./img/home/about_me.jpg" alt="My Photo" class="about-img" />
      <p>
        I love photographing in a way that makes every picture not just an
        image, but a story. <br />
        I believe every moment can be made special, and my camera just helps
        highlight it. <br />
        And yes, don’t be surprised if you see me up a tree or in the bushes –
        I’m ready to do anything for the perfect shot!😄
      </p>
    </div>
    <a href="./about-page.html" class="about-link">More about me</a>
  </div>
</section>
