<section class="about" id="about-me">
  <div class="about-container container">
    <h3 class="about-h3">
      Yep, that's me.. <br />
      You're probably wondering how I ended up here?
    </h3>
    <div class="about-content">
      <div class="about-bec-img">
        <img src="/img/home/about_me.jpg" alt="My Photo" class="about-img" />
      </div>
      <h2 class="about-title">Hi, I'm Aleksandra.</h2>
      <div>
        <h2 class="about-title2">Hi, I'm Aleksandra.</h2>
        <div class="about-text">
          <p class="line">
            I love photographing in a way that makes every picture not just an
            image, but a story.
          </p>
          <p class="line">
            I believe every moment can be made special, and my camera just helps
            highlight it.
          </p>
          <p class="line">
            And yes, don’t be surprised if you see me up a tree or in the bushes
            – I can be craizy in pursuit of the perfect shot!😄
          </p>
        </div>
      </div>
    </div>
    <!-- <a href="./about-page.html" class="about-link">More about me</a> -->
  </div>
</section>
