<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <a href="index.html">
        <img src="/img/home/logo.png" alt="Logo" class="footer-logo" />
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li><a href="../../about-page.html">ABOUT MY</a></li>
          <li><a href="../../price-page.html">PRICE</a></li>
          <li><a href="../../portfolio-page.html">PORTFOLIO</a></li>
          <li><a href="../../contacts-page.html">CONTACT</a></li>
        </ul>
      </nav>
    </div>
    <p class="footer-links">
      <a href="../../privacy-policy.html" target="_blank">Privacy Policy</a>
      |
      <a href="../../terms-of-use.html" target="_blank">Terms of Use</a>
    </p>
  </div>
</footer>
