<footer class="footer">
  <div class="footer-container">
    <a href="index.html">
      <img src="logo.png" alt="Logo" class="footer-logo" />
    </a>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a href="../../home-page.html">Home</a></li>
        <li><a href="../../about-page.html">About Me</a></li>
        <li><a href="../../price-page.html">Price</a></li>
        <li><a href="../../portfolio-page.html">Portfolio</a></li>
        <li><a href="../../contacts-page.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <p class="footer-links">
    <a href="/privacy-policy">Privacy Policy</a> |
    <a href="/terms-of-use">Terms of Use</a>
  </p>
</footer>
