<header class="header">
  <div class="header-container container">
    <img class="logo-mob" src="../img/home/logo.png" width="120" alt="Logo" />
    <button class="burger-menu">
      <svg class="icon icon-mob-menu" width="30" height="30">
        <use href="../img/sprite.svg#icon-mob-menu"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="home-page.html">HOME</a></li>
        <li><a href="#about-me">ABOUT ME</a></li>
        <li><a href="price-page.html">PRICE</a></li>
        <li>
          <img class="logo" src="./img/home/logo.png" width="160" alt="Logo" />
        </li>
        <li class="portfolio-dropdown">
          <a href="#">PORTFOLIO</a>
          <ul class="dropdown-menu">
            <li><a href="individual-page.html">Individual</a></li>
            <li><a href="family-page.html">Family</a></li>
            <li><a href="children-page.html">Children</a></li>
            <li><a href="newborn-page.html">Newborn</a></li>
          </ul>
        </li>
        <li><a href="#reviews">REVIEWS</a></li>
        <li><a href="./contact-page.html">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
