<div class="mobile-menu">
  <button class="close-menu">
    <svg class="icon icon-close" width="30" height="30">
      <use href="../../img/sprite.svg#icon-close-btn"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li><a href="home-page.html">HOME</a></li>
    <li><a href="#about-me">ABOUT ME</a></li>
    <li class="mobile-portfolio-dropdown">
      <a href="#">PORTFOLIO</a>
      <ul class="dropdown-menu">
        <li><a href="individual-page.html">Individual</a></li>
        <li><a href="family-page.html">Family</a></li>
        <li><a href="children-page.html">Children</a></li>
        <li><a href="newborn-page.html">Newborn</a></li>
      </ul>
    </li>
    <li><a href="#reviews">REVIEWS</a></li>
    <li><a href="price-page.html">PRICE</a></li>
    <li><a href="./contact-page.html">CONTACT</a></li>
  </ul>
</div>
