<section class="portfolio">
  <div class="portfolio-container container">
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img
            src="/img/home/individual.jpg"
            alt="Individual"
            class="portfolio-img"
          />

          <a href="../../individual-page.html" class="portfolio-link"
            >Individual
            <svg class="portfolio-icon-arrow" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img src="/img/home/family.jpg" alt="Family" class="portfolio-img" />

          <a href="../../family-page.html" class="portfolio-link"
            >Family
            <svg class="portfolio-icon-arrow" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img
            src="/img/home/children.jpg"
            alt="Children"
            class="portfolio-img"
          />

          <a href="../../children-page.html" class="portfolio-link"
            >Children
            <svg class="portfolio-icon-arrow" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img
            src="/img/home/newborn.jpg"
            alt="Newborn"
            class="portfolio-img"
          />

          <a href="../../newborn-page.html" class="portfolio-link"
            >Newborn
            <svg class="portfolio-icon-arrow" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
