<section class="portfolio">
  <div class="portfolio-container container">
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img
            src="/img/home/individual.jpg"
            alt="Individual"
            class="portfolio-img"
          />
          <h2 class="portfolio-title">Individual</h2>
          <a href="../../individual-page.html" class="portfolio-link">More</a>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img src="/img/home/family.jpg" alt="Family" class="portfolio-img" />
          <h2 class="portfolio-title">Family</h2>
          <a href="../../family-page.html" class="portfolio-link">More</a>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img
            src="/img/home/children.jpg"
            alt="Children"
            class="portfolio-img"
          />
          <h2 class="portfolio-title">Children</h2>
          <a href="../../children-page.html" class="portfolio-link">More</a>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-content">
          <img
            src="/img/home/newborn.jpg"
            alt="Newborn"
            class="portfolio-img"
          />
          <h2 class="portfolio-title">Newborn</h2>
          <a href="../../newborn-page.html" class="portfolio-link">More</a>
        </div>
      </li>
    </ul>
  </div>
</section>
