<div class="background-photo-rev">
  <div class="parallax-bg"></div>
  <section class="reviews-section">
    <div class="reviews-container container">
      <h2 id="reviews" class="reviews-title">What my clients say</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review-content">
              <h3 class="review-author">Emily</h3>
              <p class="review-text">
                It is amazing individual photoshoot! You made me feel
                comfortable and the pictures turned out fantastic!Thanks
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-content">
              <h3 class="review-author">Thomas</h3>
              <p class="review-text">
                Thank you. Everything was cool. The photos are great.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-content">
              <h3 class="review-author">Sophie Müller</h3>
              <p class="review-text">
                Die Fotosession mit meinen Kindern war einfach fantastisch! Die
                Bilder sind wunderschön und die Kinder hatten viel Spaß. Danke!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-content">
              <h3 class="review-author">Katarina</h3>
              <p class="review-text">
                Thank you, it was very comfortable at the photo session! The
                photos are incredible! I have already ordered a photo book.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-content">
              <h3 class="review-author">Ralf</h3>
              <p class="review-text">Dankeschön! Schöne Fotos</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- get in touch -->
  <section class="contact">
    <div class="get-in-container">
      <h2 class="contact-title">Get in touch</h2>
      <form method="post" class="contact-form" autocomplete="off">
        <div class="form-group">
          <label for="name"></label>
          <input
            type="text"
            id="user_name"
            name="user_name"
            required
            class="form-input"
            placeholder="Your Name"
            autocomplete="new-password"
          />
        </div>
        <div class="form-group">
          <label for="email"></label>
          <input
            type="email"
            id="user_email"
            name="user_email"
            required
            class="form-input"
            placeholder="Your Email"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="message"></label>
          <textarea
            id="message"
            name="message"
            rows="5"
            maxlength="250"
            required
            class="form-textarea"
            placeholder="Message"
          ></textarea>
        </div>
        <div>
          <button type="submit" class="form-button">Send</button>
        </div>
      </form>
      <!-- <form
        method="post"
        class="contact-form"
        autocomplete="off"
        id="contact-form"
      >
        <div class="form-group">
          <label for="user_name"></label>
          <input
            type="text"
            id="user_name"
            name="user_name"
            required
            class="form-input"
            placeholder="Your Name"
            autocomplete="new-password"
          />
        </div>
        <div class="form-group">
          <label for="user_email"></label>
          <input
            type="email"
            id="user_email"
            name="user_email"
            required
            class="form-input"
            placeholder="Your Email"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="message"></label>
          <textarea
            id="message"
            name="message"
            rows="5"
            maxlength="250"
            required
            class="form-textarea"
            placeholder="Message"
          ></textarea>
        </div>
        <div>
          <button type="submit" class="form-button">Send</button>
        </div>
      </form> -->
    </div>
  </section>
</div>
