<div id="reviewModal" class="modal-review">
  <div class="modal-review-content get-in-container">
    <span class="close" id="closeReviewModal">&times;</span>
    <h2 class="review-contact-title">Leave Your Review</h2>
    <form id="reviewForm" class="review-contact-form">
      <div class="review-form-group">
        <input
          type="text"
          id="reviewName"
          class="review-form-input"
          placeholder="Your Name"
          required
        />
      </div>
      <div class="review-form-group">
        <textarea
          id="reviewText"
          class="review-form-textarea"
          placeholder="Your Review"
          required
          maxlength="200"
        ></textarea>
        <p id="charCount">0 / 200</p>
      </div>
      <button type="submit" class="review-form-btn">Send</button>
    </form>
  </div>
</div>

<div id="thankYouReviewModal" class="modal-review">
  <div class="modal-review-content small-modal get-in-container">
    <span class="close" id="closeThankYouReviewModal">&times;</span>
    <h2 class="contact-title">Thank You!</h2>
    <p>Your review has been submitted and will be published soon.</p>
  </div>
</div>
<script>
  const reviewText = document.getElementById("reviewText");
  const charCount = document.getElementById("charCount");
  const maxLength = 200;

  reviewText.addEventListener("input", () => {
    let currentLength = reviewText.value.length;
    charCount.textContent = `${currentLength} / ${maxLength}`;

    if (currentLength > maxLength - 20) {
      charCount.style.color = "red";
    } else {
      charCount.style.color = "black";
    }
  });
</script>
