<section class="gallery-sec">
  <div class="gallery-container container">
    <img
      class="lazy"
      data-src="./img/family/1.webp"
      alt="Image 9"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/2.webp"
      alt="Image 10"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/3.webp"
      alt="Image 11"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/4.webp"
      alt="Image 12"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/5.webp"
      alt="Image 13"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/6.webp"
      alt="Image 14"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/7.webp"
      alt="Image 15"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/8.webp"
      alt="Image 16"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/9.webp"
      alt="Image 17"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/10.webp"
      alt="Image 18"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/11.webp"
      alt="Image 19"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/12.webp"
      alt="Image 20"
      loading="lazy"
    />
  </div>
</section>
