<section class="gallery-sec">
  <div class="gallery-container container">
    <picture>
      <source
        srcset="./img-optimized/children/1-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/1-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/1-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/2-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/2-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/2-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/3-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/3-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/3-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/4-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/4-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/4-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/5-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/5-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/5-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/6-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/6-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/7-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/7-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/7-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/8-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/children/8-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/8-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/9-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/9-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/9-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/10-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/10-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/10-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/11-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/11-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/11-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/12-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/12-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/12-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/13-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/13-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/13-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/14-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/14-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/14-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/15-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/15-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/15-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/16-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/16-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/17-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/17-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/17-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/18-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/18-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/18-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/19-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/19-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/19-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/20-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/20-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/20-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/21-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/21-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/21-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/22-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/22-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/22-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/23-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/23-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/23-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/24-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/24-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/24-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/25-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/25-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/25-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/26-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/26-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/26-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/27-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/children/27-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/27-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/28-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/28-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/28-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/29-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/29-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/29-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/30-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/30-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/30-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/31-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/31-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/31-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/32-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/32-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/32-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/33-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/33-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/33-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/34-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/34-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/34-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/35-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/35-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/35-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/36-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/36-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/36-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/37-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/37-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/37-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/38-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/38-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/38-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/39-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/39-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/39-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/40-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/40-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/40-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/41-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/41-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/41-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/42-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/42-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/42-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/43-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/43-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/43-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/44-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/44-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/44-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/45-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/45-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/45-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/46-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/children/46-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/46-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/47-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/47-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/47-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/children/48-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/48-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/48-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/children/49-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/children/49-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/children/49-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
  </div>
  <p style="text-align: center; padding: 30px 10px 0 10px; max-width: 900px">
    The photos are published in accordance with ethical standards and with the
    consent of the depicted childrens or their legal representatives
  </p>
</section>
