<section class="gallery-sec">
  <div class="gallery-container container">
    <img
      class="lazy"
      data-src="./img/children/1.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/2.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/3.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/4.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/5.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/6.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/7.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/8.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/9.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/10.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/11.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/12.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/13.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/14.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/15.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/16.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/17.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/18.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/19.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/20.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/21.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/22.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/23.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/24.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/25.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/26.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/27.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/28.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/29.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/30.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/31.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/32.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/33.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/34.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/35.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/36.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/37.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/38.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/39.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/40.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/41.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/42.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/43.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/44.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/45.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/46.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/47.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/48.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/children/49.webp"
      alt="Image"
      loading="lazy"
    />
  </div>
  <p style="text-align: center; padding: 30px 10px 0 10px; max-width: 900px">
    The photos are published in accordance with ethical standards and with the
    consent of the depicted individuals or their legal representatives
  </p>
</section>
