<section class="contact-hero">
  <div class="container">
    <div class="contact-hero-content">
      <h1>
        You have reached <br />
        the most important page of this site!
      </h1>
      <p class="hero-txt">
        From now on, you have two options: <br />
        either write to me and make your day better, or just admire this
        page...🥹😊
      </p>
      <p class="hero-small-txt">(I made it myself! Cool, right?)</p>
      <p class="hero-txt">
        I'm happy with both options, but I hope we're looking forward to the
        second one, since you're here... <br />
        So don't wait and click on the buttons below👇🏼
      </p>
    </div>
  </div>
</section>
