<section class="gallery-sec">
  <div class="gallery-container container">
    <picture>
      <source
        srcset="./img-optimized/family/1-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/1-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/1-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/2-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/2-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/2-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/3-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/3-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/3-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/4-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/4-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/4-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/5-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/5-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/5-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/family/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/6-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/6-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/7-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/7-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/7-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/8-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/family/8-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/8-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/9-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/9-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/9-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/10-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/10-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/10-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/family/11-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/11-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/11-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/12-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/12-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/12-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/13-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/13-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/13-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/14-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/14-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/14-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/15-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/15-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/15-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/family/6-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/16-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/16-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/17-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/17-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/17-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/18-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/18-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/18-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/19-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/19-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/19-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/family/20-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/20-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/20-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/21-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/21-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/21-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/22-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/22-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/22-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/23-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/23-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/23-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/24-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/24-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/24-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img-optimized/family/25-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/25-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/25-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/26-small.webp"
        media="(max-width: 600px)"
      />
      <source
        srcset="./img-optimized/family/26-medium.webp"
        media="(max-width: 1200px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/26-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="./img-optimized/family/27-medium.webp"
        media="(max-width: 1200px)"
      />
      <source
        srcset="./img-optimized/family/27-small.webp"
        media="(max-width: 600px)"
      />
      <img
        class="lazy"
        data-src="./img-optimized/family/27-large.webp"
        alt="Image"
        width="800"
        height="1000"
        loading="lazy"
      />
    </picture>
  </div>
  <p style="text-align: center; padding: 30px 10px 0 10px; max-width: 900px">
    The photos are published in accordance with ethical standards and with the
    consent of the depicted individuals or their legal representatives
  </p>
</section>
