<section class="gallery-sec">
  <div class="gallery-container container">
    <img
      class="lazy"
      data-src="./img/family/1.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/2.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/3.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/4.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/5.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/6.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/7.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/8.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/9.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/10.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/11.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/12.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/13.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/14.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/15.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/16.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/17.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/18.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/19.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/20.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/21.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/22.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/23.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/24.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/25.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/26.webp"
      alt="Image"
      loading="lazy"
    />
    <img
      class="lazy"
      data-src="./img/family/27.webp"
      alt="Image"
      loading="lazy"
    />
  </div>
</section>
